.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 20px;
  align-items: center;
}

.editorContainer {
  position: relative;
  padding: 24px;
  // width: 640px;
  max-width: 640px;
  min-width: 240px;
  min-height: 240px;
  color: white;
  overflow: scroll;
}

.contentEditable {
  outline: none;
  box-shadow: none;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.placeholder {
  position: absolute;
  color: #888888;
  top: 24px;
  left: 24px;
  pointer-events: none;
  user-select: none;
}